.hero {
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/working2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box {
    max-width: 50vw;
    padding: 1rem;
    color: whitesmoke;
    margin: 1rem 5rem 1rem 5rem;
}

.box h1 {
    font-size: calc(1em + 2vw);
    font-weight: 600;
}

.box h6 {
    font-size: calc(0.6em + 1vw);
    font-weight: 500;

}

.box p {
    font-size: calc(0.4em + 1vw);
    font-weight: 500;

}

.outer-0 {
    min-height: 80vh;
    padding: 0;
    position: sticky;
}

.subscription-title {
    text-align: center;
    margin-top: 10px;
    padding: 30px 40px 0 40px;
    font-family: Cocogoose, sans-serif;
    font-size: calc(2.2em + 1vw);
    font-weight: 500;
    color: #1B314B;
}

.flex1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card1 {
    min-width: 280px;
    width: 20vw;
    height: 60vh;
    margin: 0 0 3rem 0;
    padding: 25px;
    border-radius: 10px;
    color: white;
}

.card1:hover {
    text-decoration: none;
    color: white;
}

.type1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("../../../public/working.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.fa-svg-icon {
    display: inline-block;
}

.fa-svg-icon svg {
    top: 5px;
    display: inline-block;
    fill: white;
    height: 20px;
    position: relative;
}

.fa-svg-icon path {
    fill: white;
}

.subscription-head {
    font-family: Cocogoose, sans-serif;
    margin-top: 8px;
    font-size: 1.9rem;
    font-weight: 500;
}

.subscription-details {
    font-size: 1.1rem;
    font-weight: 400;
}

.subscription-more {
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 400;
}

.type2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("../../../public/working3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.type3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("../../../public/working4.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: relative;
}

.type4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("../../../public/working5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.card2 {
    min-width: 100px;
    width: 10vw;
    height: 15vh;
    margin: 0.5rem;
    padding: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.card3 {
    min-width: 270px;
    width: 21vw;
    margin: 20px 5px 20px 5px;
    height: 250px;
    border: 0;
}

.card3-img {
    border-radius: 10px;
}

.card-body {
    padding: 10px 0 0 0;
    height: auto;
}

.outer-box {
    padding: 1rem;
    min-height: 80vh;
    width: 100%;
}

.outer-2 {
    min-height: 30vh;
    padding: 0 4rem 0 4rem;
    position: sticky;
    background-color: #E9ECEF;
}

.outer-box2 {
    padding: 1rem;
    min-height: 30vh;
    width: 100%;
}

.outer-box3 {
    padding: 1rem;
    min-height: 70vh;
    width: 100%;
}


@media only screen and (max-width: 1100px) {
    .hero {
        background-position: left;
    }

    .box {
        width: 80vw;
        padding: 0.5rem;
        margin: 1rem 3rem 1rem 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        background-position: left;
    }

    .box {
        width: 100vw;
        min-width: 300px;
        padding: 0.5rem;
        color: whitesmoke;
        margin: 0.5rem;
    }

    .box h1 {
        font-size: 2.5rem;
    }

    .box h6 {
        font-size: 0.9rem;
    }

    .box p {
        font-size: 0.7rem;
    }
}