.custom-flex {
    display: flex;
}

.custom-child {
    margin-left: auto;
}

.custom-padding {
    padding: 0 3rem 0 3rem;
}

.custom-brandname {
    font-family: Cocogoose, sans-serif;
    font-weight: 300;
}


@media only screen and (max-width: 580px) {
    .custom-child {
        margin-right: auto;
        margin-left: 0;
    }

    .custom-padding {
        padding: 0 10px 0 10px;
    }
}