.footer {
    position: sticky;
    padding: 20px;
    height: auto;
    min-height: 30vh;
}

.list {
    padding: 10px;
    position: relative;
}

.list li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    border: none;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.list a {
    color: #212529;
}

.list .header1 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.footer-text {
    padding: 20px;
    font-family: "Work Sans", Arial, sans-serif;
    color: #6c757d;
    font-size: .75rem;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .list {
        width: 60vw;
        padding: 10px;
    }
}