.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'COCOGOOSE';
  font-style: normal;
  font-weight: 400;
  src: local('COCOGOOSE'), url('/public/cocogoose_trial.woff') format('woff');
}